<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuanglian.mingpin.mapper.attendance.EmpAttendMapper">
    <insert id="insertempAttend" parameterType="com.chuanglian.mingpin.entity.attendance.EmployeeAttendance">
        INSERT INTO attendanceManagement.employee_attendance
        (
            employee_id,
            attendance_id,
            date,
            on_time,
            on_time2,
            on_time3,
            on_time4,
            created_at,
            updated_at,
            campus_id
        )
        VALUES
            (
                #{employeeId},
                #{attendanceId},
                #{date},
                #{onTime},
                #{onTime2},
                #{onTime3},
                #{onTime4},
                #{createdAt},
                #{updatedAt},
                #{campus_id}
            )
    </insert>

    <insert id="insertBatch" parameterType="list">
        INSERT INTO attendanceManagement.employee_attendance (employee_id, date)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.employeeId}, #{item.date})
        </foreach>
    </insert>
</mapper>