<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuanglian.mingpin.mapper.attendance.EmpAttendInfoMapper">


    <insert id="insertEmpAttendInfo" parameterType="map">
        INSERT INTO mingpin.attendanceManagement.employee_attendance_info
        (start_time, end_time, start_time2, end_time2, start_time3, end_time3, start_time4, end_time4, campus_id, type)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.start_time}, #{item.end_time}, #{item.start_time_2}, #{item.end_time_2}, #{item.start_time_3}, #{item.end_time_3}, #{item.start_time_4}, #{item.end_time_4}, #{item.campus_id}, #{item.type})
        </foreach>
    </insert>
</mapper>