<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuanglian.mingpin.mapper.point.PointMapper">
    <update id="resetPointsByStudentIds">
        UPDATE mingpin.pointManagement.point
        SET point = 0
        WHERE student_id IN
        <foreach collection="studentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>