<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuanglian.mingpin.mapper.attendance.StuAttendInfoMapper">

    <insert id="insertStuAttendInfo" parameterType="map">
        INSERT INTO mingpin.attendanceManagement.student_attendance_info
        ( start_time, end_time, campus_id, type)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{ #{item.start_time}, #{item.end_time}, #{item.campus_id}, #{item.type})
        </foreach>
    </insert>

</mapper>